#App {
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}

.NavButton{
    background-color: purple;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
}
.Button{
    background-color: purple;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    color: white;
    height: fit-content;
    width: fit-content;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}