#App {
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.View{
    position: absolute;
    inset: 20px;
}
.NavButton{
    filter: brightness(100%) contrast(105%);
    width: 90%;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.NavButton > svg{
    margin-left: 10px;
    color: white;
}
.NavButton > span{
    flex: 1;
    padding: 10px;
}
.Button{
    filter: brightness(100%) contrast(105%);
    /* background-color: purple; */
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    height: fit-content;
    width: fit-content;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavButton, .Button{
    transition: background-color 0.3s ease, opacity 0.5s ease, filter 0.3s ease;
}
.NavButton:hover, .Button:hover{
    /* background-color: #4c166d; */
    filter: brightness(80%) contrast(100%);
}
.NavButton:active, .Button:active{
    /* background-color: #3c1157; */
    filter: brightness(60%) contrast(100%);
}

.selectListOption:hover{
    background-color: var(--accent-color) !important;
    color: white !important;
}

/* View animations */
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.fade-exit {
    opacity: 1;
    }
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}