#App {
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}

.NavButton{
    background-color: purple;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    user-select: none;
}
.Button{
    background-color: purple;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    height: fit-content;
    width: fit-content;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavButton, .Button{
    transition: background-color 0.3s ease;
}
.NavButton:hover, .Button:hover{
    background-color: #4c166d;
}
.NavButton:active, .Button:active{
    background-color: #3c1157;
}