.ViewHeader{
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}
.imageContainer{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    overflow: hidden;
    z-index: 100;
    transition: background-color 0.35s ease, border-color 0.35s ease;
}
.imageContainer > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    overflow: hidden;
    position: relative;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.35s ease;
}
.wails-drop-target-active{
    background-color: purple !important;
    border-color: purple !important;
    position: relative;
    z-index: 101;
}
.wails-drop-target-active > img{
    opacity: 0.3;
}